.container{
    background: #F2F3FA;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 40px;
}

.input_container{
    height: 80px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding-inline: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 20px;
}

.input_container > input[type = 'text']{
    height: 30px;
    font-size: 14px;
    border-radius: 30px;
    width: 60%;
    border: 1px solid #E0E0E0;
    color: #828282;
    padding: 15px;
}

.input_container > input:focus{
    outline: none !important;
    border: 2px solid #888FD1
}

.input_container > select{
    font-size: 14px;
    height: 30px;
    border-radius: 30px;
    width: 40%;
    padding-inline: 10px;
    color: #828282;
    border: 1px solid #E0E0E0;
}

.input_container > select:focus{
    outline: none !important;
    border: 2px solid #888FD1
}

.input_container > select:focus option:first-of-type {
    display: none;
}


@media only screen and (max-width: 600px){
    .input_container{
    width: 95%;
    }
}

@media only screen and (min-width: 600px){
    .input_container{
    width: 75%;
    }
}

@media only screen and (min-width: 768px){
    .input_container{
    width: 55%;
    }
}

@media only screen and (min-width: 900px){
    .input_container{
    width: 40%;
    }
}
